
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BazaarECommerce</title>

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/EshopFree/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/EshopFree/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/EshopFree/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/EshopFree/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/EshopFree/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/EshopFree/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/EshopFree/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/EshopFree/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/EshopFree/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/EshopFree/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/EshopFree/css/reset.css">
    <link rel="stylesheet" href="~/EshopFree/style.css">
    <link rel="stylesheet" href="~/EshopFree/css/responsive.css">

    <style>
        /* The container <div> - needed to position the sinlge-bar content */
        .sinlge-bar {
            position: relative;
            display: inline-block;
        }

        /* sinlge-bar Content (Hidden by Default) */
        .sinlge-bar-content {
            display: none;
            position: absolute;
            left: -80px;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the sinlge-bar */
            .sinlge-bar-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of sinlge-bar links on hover */
                .sinlge-bar-content a:hover {
                    background-color: #ddd;
                }

        /* Show the sinlge-bar menu on hover */
        .sinlge-bar:hover .sinlge-bar-content {
            display: block;
        }

        /* Change the background color of the sinlge-bar button when the sinlge-bar content is shown */

    </style>
</head>
<body>

    <!-- Header -->
    <header class="header shop">

        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/Home/Index"><img src="~/EshopFree/images/ebazaar.png" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                            <!-- Search Form -->
                            <div class="search-top">
                                @*<form class="search-form">
                                    <input type="text" placeholder="Search here..." name="search">
                                    <button value="search" type="submit"><i class="ti-search"></i></button>
                                </form>*@
                            </div>
                            <!--/ End Search Form -->
                        </div>
                        <!--/ End Search Form -->
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar" onclick="showSearchMessage()">

                                <form>
                                    <input name="search" placeholder="Search Products Here....." type="search" disabled>
                                    <button  class="btnn" disabled><i class="ti-search"  ></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <!-- Search Form -->
                            @*<div class="sinlge-bar">
                                    <a href="#" class="single-icon"><i class="far fa-heart"></i></a>
                                </div>*@
                            <div class="sinlge-bar">
                                <a href="/Home/RouteLoginOrProfile/" class="single-icon dropbtn"><i class="fa fa-user-circle"></i></a>
                                <a id="LoginLink" href="/Home/RouteLoginOrProfile/"class="flex-column">Login</a>
                                <div class="sinlge-bar-content" id="sinlge-bar-content">
                                    <a href="/Profile/Index/">Profile</a>
                                    <a href="/Home/LogOut/">Log Out</a>
                                </div>
                            </div>
                            <div class="sinlge-bar shopping">
                                <a href="#" class="single-icon "><i class="ti-bag"></i> <span class="total-count">2</span></a>

                                <!-- Shopping Item -->
                                <div id="cartPopUp" class="shopping-item">

                                </div>
                                <!--/ End Shopping Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div>
                                            <div class="nav-inner">
                                                @*for centering <div class="d-flex justify-content-center">...</div> and col lg to 12*@
                                                <ul class="nav main-menu menu navbar-nav">
                                                    <li class="active"><a href="/Home/Index">Home</a></li>
                                                    <li>
                                                        <a>Electronics</a>
                                                        <ul class="dropdown">
                                                            <li><a href="/Product/Index?categoryId=1">Computer</a></li>
                                                            <li><a href="/Product/Index?categoryId=2">Phone</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#" onclick="categoryWarning()">Fashion</a></li>
                                                    <li>
                                                        @*Home, Living,*@
                                                        <a href="#">Stationery, Office<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                        <ul class="dropdown">
                                                            <li onclick="categoryWarning()"><a href="">Cart</a></li>
                                                            <li onclick="categoryWarning()"><a href="">Checkout</a></li>
                                                        </ul>
                                                    </li>
                                                    <li onclick="categoryWarning()"><a href="#">Auto, Garden, Construction Market</a></li>
                                                    <li>
                                                        @*Cosmetics,*@
                                                        <a href="#">Personal Care<i class="ti-angle-down"></i></a>
                                                        <ul class="dropdown">
                                                            <li onclick="categoryWarning()"><a href="">Blog Single Sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    @*Book, Music, Movie, Hobby*@
                                                    <li><a href="/Product/Index?categoryId=1003">Book</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--/ End Header -->
    <!-- Jquery -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/EshopFree/js/jquery.min.js"></script>
    <script src="~/EshopFree/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/EshopFree/js/jquery-ui.min.js"></script>

    <!-- Popper JS -->
    <script src="~/EshopFree/js/popper.min.js"></script>
    <!-- Bootstra~/EshopFree/p JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/EshopFree/js/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/EshopFree/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/EshopFree/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/EshopFree/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/EshopFree/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/EshopFree/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/EshopFree/js/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/EshopFree/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/EshopFree/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/EshopFree/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="~/EshopFree/js/easing.js"></script>
    <!-- Active JS -->
    <script src="~/EshopFree/js/active.js"></script>

    <!--Our Js File-->
    <script src="~/js/site.js"></script>

    <script>
        $.post('/Home/IsAuthorize/').then(function (result) {
            if (result == false) {
                $('#sinlge-bar-content').html('');
                $('#cartPopUp').html('<p>You didn\'t logged in yet. Go </p> <a href = "/Login/Index/" > Log in</a >')

            } else {
                $('#LoginLink').html('')
                $.get('/Home/GetCartPreviewPopup').then(function (result) {
                    $('#cartPopUp').html(result);
                });
            }
        });

        function showSearchMessage() {
            alert("its not functional");
        }

        function categoryWarning() {
            alert("Currently just Electronic and book categories has products. ");
        }
    </script>
</body>




</html>