@model List<EntityLayer.Concrete.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}


<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<style>
    .productImgHeight {
        height: 10rem;
    }

    .price {
        margin-bottom: 0px;
    }
</style>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_productFilterPart", @Model)
        </div>
        <div class="col-md-9" id="mydiv">
            @await Html.PartialAsync("GetFilteredproducts")
            
        </div>
    </div>
</div>

