@model List<EntityLayer.Concrete.CampaignImage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}
<style>
    .div a span{
        background-color:blue;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<div class=" rounded mt-2" style="border: 1px solid #ddd;">
    <div id="carouselExampleControls"
         class="carousel slide"@*slide carousel-fade*@
         data-ride="carousel">
        <div class="carousel-inner imgDiv">
            @for (int i = 0; i < Model.Count; i++)
            {

                @if (i == 0)
                {
                    <div class="carousel-item active text-center">
                        <img class="" src=" @Model[i].ImagePath" alt="Image @i" />
                    </div>
                }
                else
                {
                    <div class="carousel-item  text-center">
                        <img class="" src="@Model[i].ImagePath" alt="Image @i" />
                    </div>
                }
            }

        </div>
        <a class="carousel-control-prev"
           href="#carouselExampleControls"
           role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon" style=" height: 35px; width: 35px; border-radius: 50%; color:black; "
                  aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"
           href="#carouselExampleControls"
           role="button"
           data-slide="next">
            <span class="carousel-control-next-icon" style="background-color: red; height: 35px; width: 35px; border-radius: 50%; color:black; "
                  aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div>@await Html.PartialAsync("TopRatedProducts", (List<EntityLayer.Concrete.Product>)ViewBag.toprateds)</div>


